[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

# note! remember to update setup.py
[packages]
# pinned because of issues building the 20.x line
#gevent = "==1.4.0"
gevent = "<=21.8"
# removed support for OSX python 3.6 in 1.11.0
parallel-ssh = "==1.10.*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pdoc3 = "*"
pyflakes = "*"
black = "==22.6.0"

