-i https://pypi.org/simple/
bcrypt==3.2.0
cffi==1.14.4
cryptography==3.3.2
gevent==1.4.0
greenlet==1.0.0 ; platform_python_implementation == 'CPython'
parallel-ssh==1.9.1
paramiko==2.7.2
pycparser==2.20
pynacl==1.4.0
six==1.15.0
ssh2-python==0.26.0
