#	$OpenBSD: sshd_config,v 1.102 2018/02/16 02:32:40 djm Exp $

# This is the sshd server system-wide configuration file.  See
# sshd_config(5) for more information.

Port 2222

# don't ever set this in a serious environment.
# this allows us to bypass some permissions requirements.
StrictModes no

# Logging
#LogLevel DEBUG
LogLevel INFO

# Authentication:
PermitRootLogin no
PubkeyAuthentication yes

# The default is to check both .ssh/authorized_keys and .ssh/authorized_keys2
# but this is overridden so installations will only check .ssh/authorized_keys
AuthorizedKeysFile	/tmp/sshd-dummy/.ssh/authorized_keys

# For this to work you will also need host keys in /etc/ssh/ssh_known_hosts
HostbasedAuthentication no

# Don't read the user's ~/.rhosts and ~/.shosts files
IgnoreRhosts yes

# To disable tunneled clear text passwords, change to no here!
PasswordAuthentication no

# Change to no to disable s/key passwords
ChallengeResponseAuthentication no

PidFile /tmp/sshd-dummy/sshd.pid

# override default of no subsystems
# necessary for uploads and downloads
Subsystem	sftp	/usr/lib/ssh/sftp-server
